body {
  display: grid;
  place-items: center;
}

#root {
  width: 100%;
  max-width: 600px;
}

header {
  grid-column: 1 / -1;
  padding: 10px;
}

.stack {
  >*+* {
    --space: 20px;
    margin-top: var(--space);
  }
}
