.search-box {
  position: relative;
  margin-bottom: 30px;
}

#search {
  padding: 15px;
  border-radius: 15px;
  border-style: solid;
  width: 100%;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: grid;
  gap: 10px;
  margin-top: 15px;
  background-color: #242424;
}

.option {
  display: block;
  width: 100%;
  border-radius: 15px;
  border-style: solid;
  padding: 10px;
}

.option__country {
  display: block;
}
